.App{

  overflow-x:hidden;
}

.btn {
  box-sizing: border-box;
  width: 100px;
  margin-left: 50px;
  position: absolute;
  top: 600px;
  left: -36px;
}
.comp {
  display: flex;
}
.me-sm-2 {
  position: relative;
  left: 20px;
}

.result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
}

.img {
  width: 60px;
  height: 60px;
  margin-left: 40px;
}

.ibtn {
  width: 20px;
  height: 20px;
}
.ibtn:hover {
  color: red;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
}

.previewContain {
  position: relative;
}
